.header__mail {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 6px 24px 46px 0;
}

@media screen and (max-width: 500px) {
  .header__mail {
    margin: 0 0 18px;
  }
}