.header__exit {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #A9A9A9;
  margin: 6px 0 46px;
}

.header__exit:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .header__exit {
    margin-right: 30px;
  }
}

@media screen and (max-width: 500px) {
  .header__exit {
    margin: 0;
  }
}