.header__burger {
  display: none;
}

@media screen and (max-width: 500px) {
  .header__burger {
    display: block;
    width: 24px;
    height: 18px;
    margin: 7px 30px 0 0;
  }

  .header__burger:hover {
    opacity: .6;
    cursor: pointer;
  }
}
