.sign__input {
  margin: 30px 0 0;
  padding: 0 0 13px;
	border: 0;
  border-bottom: 2px solid #CCCCCC;
	background-color: transparent;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}